#cwwb-toolbar-record {
  list-style-image: url("chrome://cwwb/skin/record24-off.png");
}
#cwwb-toolbar-record[cwwb-record="on"] {
  list-style-image: url("chrome://cwwb/skin/record24-on.png");
}
toolbar[iconsize="small"] #cwwb-toolbar-record {
  list-style-image: url("chrome://cwwb/skin/record-off.png");
}
toolbar[iconsize="small"] #cwwb-toolbar-record[cwwb-record="on"] {
  list-style-image: url("chrome://cwwb/skin/record-on.png");
}

#cwwb-toolbar-add {
  list-style-image: url("chrome://cwwb/skin/add24-on.png");
}
#cwwb-toolbar-add[disabled="true"] {
  list-style-image: url("chrome://cwwb/skin/add24-off.png");
}
toolbar[iconsize="small"] #cwwb-toolbar-add {
  list-style-image: url("chrome://cwwb/skin/add-on.png");
}
toolbar[iconsize="small"] #cwwb-toolbar-add[disabled="true"] {
  list-style-image: url("chrome://cwwb/skin/add-off.png");
}
